* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem; 
}

.logo {
    width: 231px;
    height: 36px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #000;
}

.abrir-menu,
.cerrar-menu {
    display: none;

}

.container-text {
    height: 100%;
    width: 100%;
    background: #FF5E43;
    padding: 45px 20px;
    margin: 0 auto;

    .paragraph {
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px,
}

.img-slider {
    max-width: 100%;
    height: 800px;
}

.grid-child-img {
    width: 100%;
}

.grid-child-tweet {
    background: #1DA1F2;
    height: 800px;

    .title {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 104px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        padding: 32px;
        }
    }

.twitter-icon {
    padding: 32px;
}

.title-name {
    color: #000;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 32px;
}

.user {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1px;
    padding-left: 32px;
}

.time {
    color: #000;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    line-height: 32px;
}

.slide-container {
    background-color: #1DA1F2;
    margin-top: 32px;
}

.mySlides {
    display: none;
    padding: 32px;
    text-align: left;
}

.tweet-text-highlight {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.tweet-text {
    color: #000;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.prev, .next {
cursor: pointer;
top: 100%;
width: auto;
padding: 32px;
color: #000;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.grid-container-repo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 80px;
    width: 90%;
    margin: 0 auto;
}

.repo-title {
    color: #000;
    font-family: "Open Sans";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.repo-descrip {
    color: #000;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal; 
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 206px;
    height: 35px;
}

.repo {
    padding-top: 35px;
}

.links-repo  {
    width: 90%;
    margin: 0 auto;
    padding-top: 35px;
}

.link-style {
    border-top-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
}

.link-style-last {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
}

.link-style a span {
    position: absolute;
    display: none;
    z-index: 99;
    overflow: hidden;
}

.link-style  a:hover span {
    display: block;
    transform: translate(-30, -160) scale(1.5);
    border-radius: 10px;
}

.link-style-last a span {
    position: absolute;
    display: none;
    z-index: 99;
    overflow: hidden;
}

.link-style-last  a:hover span {
    display: block;
    transform: translate(-30, -160) scale(1.5);
    border-radius: 10px;
}

.title-novedades {
    color: #000;
    font-family: "Open Sans";
    font-size: 132px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 79px;
    padding-left: 233px;
    padding-right: 233px;
    text-align: center;
}

.grid-container-novedades {
    margin: 0 auto;
    display: grid;
}

.card-title {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 57px;
    padding-left: 40px;
    }

.card-text {
    color: #000;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 180px;
    padding-left: 40px;
    width: 280px;
    position:absolute;
}

.card1 {
    background: #40B5E0;
    width: 100%;
    height: 478px;
    flex-shrink: 0;
    overflow: hidden;
}

.card1:hover .mask {
    transform: translateX(0px);
}

.card2 {
    background: #77D7DB;
    width: 100%;
    height: 478px;
    flex-shrink: 0;
    overflow: hidden;
}

.card2:hover .mask {
    transform: translateX(0px);
}

.card3 {
    background: #44D19D;
    width: 100%;
    height: 478px;
    flex-shrink: 0;
    overflow: hidden;
}

.card3:hover .mask {
    transform: translateX(0px);
}

.card4 {
    background: #FEDA3C;
    width: 100%;
    height: 478px;
    flex-shrink: 0;
    overflow: hidden;
}

.card4:hover .mask {
    transform: translateX(0px);
}

.img-card {
    height: 478px;
}

.mask {
    height: 478px;
    width:auto;
    overflow: hidden;
    transform: translateY(-100%);
    opacity: 1;
    transition: all 0.4s ease-in-out;
    margin-top: -84px;
    }

.footer {
    background-color: #000;
    padding: 86px;
    width: 100%;
    height: 100%;
}

.logo-footer {
    width: 238px;
    height: 37px;
    flex-shrink: 0;
    padding-left: 32px;
    margin-bottom: 35px;
}

.text-footer {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    width: 357px;
    padding-top: 40px;
    padding-left: 32px;
}

.btn-footer {
    border: none;
    background-color: #77D7DB;
    width: 400px;
    height: 60px;
    font-size: 14px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: capitalize;
    margin-top: 30px;
    margin-left: 32px;
}

.mail-footer {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding: 40px;
    margin-top: 195px;
    margin-left: -15%;
}

.link-footer {
    list-style: none;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 600px) {
    .grid-container-novedades { grid-template-columns: repeat(4, 1fr); }
}


@media screen and (max-width: 412px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 14px;
        background-color: transparent;
    }

    .abrir-menu {
        background-color:#000;
        color:#fff;
        height: 35px;
        width: 80px;
        border-radius: 60px;
    }

    .cerrar-menu {
        color: #fff;
    }

    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        padding: 2rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list li a {
        color: #fff;
    }

    .container-text {
        height: 100%;
        width: 100%;
        background: #FF5E43;
        flex-shrink: 0;
        padding: 45px 20px;
        margin: 0 auto;
    
        .paragraph {
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 0px,
    }

    .img-slider {
        max-width: 100%;
        height: 100%;
    }

    .grid-container-repo {
        display: grid;
        grid-template-columns: auto;
        padding-top: 80px;
        width: 90%;
        margin: 0 auto;
    }

    .repo-title {
        color: #000;
        font-family: "Open Sans";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
    }

    .repo-descrip {
        color: #000;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal; 
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        width: 100%;
        margin-top: 35px;
    }

    .title-novedades {
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 42px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 79px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 26px;
    }

    .grid-container-novedades { grid-template-columns: repeat(2, 1fr); }

    .card-title {
        color: #000;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 29px;
        padding-left: 21px;
        }
    
    .card-text {
        color: #000;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 89px;
        padding-left: 21px;
        width: 146px;
    }

    .card1 {
        background: #40B5E0;
        width: 100%;
        height: 249px;
        flex-shrink: 0;
    }
    
    .card2 {
        background: #77D7DB;
        width: 100%;
        height: 249px;
        flex-shrink: 0;
    }
    
    .card3 {
        background: #44D19D;
        width: 100%;
        height: 249px;
        flex-shrink: 0;
    }
    
    .card4 {
        background: #FEDA3C;
        width: 100%;
        height: 249px;
        flex-shrink: 0;
    }

    .mask {
        display: none;
    }

    .footer {
        background-color: #000;
        padding: 29px;
        width: 100%;
        height: 100%;
    }

    .btn-footer {
        border: none;
        background-color: #77D7DB;
        width: 95%;
        height: 60px;
        font-size: 14px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.4px;
        text-transform: capitalize;
        margin-top: 30px;
        margin-left: 0;
    }
    
}